pandas==3.0.0
numpy==2.4.1
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
category-encoders==2.9.0
sentence-transformers==5.2.0
beautifulsoup4==4.14.3
lxml==6.0.2
SQLAlchemy==2.0.46
psycopg2-binary==2.9.11
pgvector==0.4.2
python-dotenv==1.2.1
JSON-log-formatter==1.1.1
